body{
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

section{
    margin-top: 90px;
    margin-left: 230px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

:root {
    --primaryTextColor: #000000ef;
    --secondaryTextColor: #000000c6;
    --borderInputColor: #00000035;
    --borderRadius: .4rem;
    --primaryBackgroundColor: #043873;
    --buttonColor: #4f9cf9;
    --secondaryButtonColor: #282B51;
}

h2, p, h3, h5{
    margin: 0;
}

p{
    font-size: 16px;
    color: var(--secondaryTextColor);
}

h1{
    font-weight: 600;
    margin: 0;
    font-size: 26px;
    color: var(--secondaryTextColor);
}

h2{
    font-weight: 600;
    font-size: 24px;
}

h3{
    font-weight: 600;
    margin: 0;
    font-size: 20px;
    color: var(--secondaryTextColor);
}

h3{
    font-weight: 500;
    color: var(--secondaryTextColor);
}

h5{
    font-weight: 500;
    font-size: 16px;
    color: var(--secondaryTextColor);
}

label{
    font-size: 14px;
    color: var(--secondaryTextColor);
}

button{
    border: none;
    border-radius: 5px;
    color: #FFFF;
    font-size: 14px;
    padding: 8px 16px;
    background-color: var(--buttonColor);
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

button:hover{
    transform: scale(1.05);
}

input{
    border: 1px solid var(--borderInputColor);
    padding: 12px 12px;
    border-radius: var(--borderRadius);
    font-size: 16px;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: 2px solid var(--buttonColor);
}

.rbtn-container{
    display: flex;
    width: 90%;
    align-self: center;
    gap: 2rem;
    margin-top: 1rem;

    & > label{
        width: 70%;
        font-weight: 500;
        font-size: 16px;
        color: var(--secondaryTextColor);
    }
}

hr{
    border-top: 1px solid #00000006;
    width: 100%;
}

select{
    border: none;
    outline: none;
    padding: 0px 10px;
}

.container{
    display: flex;
    flex-wrap: nowrap;
    width: 90%; max-width: 1200px;
    flex-direction: row;
    gap: 1rem;
}

.layout, .layout2{
    display: flex;
    padding: 15px;
    flex-grow: 0;
    flex-direction: column;
    background-color: white;
    border-radius: var(--borderRadius);
}

.layout2{
    width: 30%;
    text-align: center;
}

.layout{
    width: 70%;
    justify-content: center;
}

.overview-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    gap: 1rem;
}

.item{
    display: flex;
    flex-direction: column;
    gap:  1rem;

    & > p{
        font-size: 14px;
    }
}

.tblMainContainer{
    background-color: #FFFF;
    border-radius: var(--borderRadius);
    width: 90%;
    max-width: 1200px;

}

.tblContainer{
    padding: 16px;
    text-align:left;

    td, th, tr{
        padding: 12px;
        font-size: 15px;
        font-weight: 500;
    }

    td{
        color: #48505e;
    }

    th{
        color: #667085;
    }
    
    tr{
        border-bottom: 1px solid #00000014;
    }

    tfoot{
        background-color: #00000014;
    }
    
    table{
        width: 100%;
        margin-top: 25px;
        border-collapse: collapse;
    }
}

.vl{
    height: 70px;
    border-right: 1px solid var(--borderInputColor);
}

input[type="checkbox"]{
    width: max-content;
}

form{
    display: flex;
    flex-direction: column;
}

.modal{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.089);
}

.modal-loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
}

.invalidInput{
    border-color: red !important;
}

.filter{
    padding: 5px 10px;
    border-radius: var(--borderRadius);
    border: 1px solid var(--borderInputColor);
    display: flex;
    align-items: center;
    gap: .5rem;

    & > svg{
        color: #000000b6;
    }

    & > select{
        padding: 0;
    }
}

.messageError{
    color: red;
    text-align: center;
}

.status-vgood{
    background-color: #d0edce;
    color: #15a209;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 14px;
}

.status-good{
    background-color: #e1d89165;
    color: #ff9500;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 14px;
}

.status-bad{
    background-color: #feeceb;
    color: #aa3028;
    font-size: 14px;
    padding: 4px 12px;
    border-radius: 14px;
}

.form-container{
    display: flex;
    flex-direction: row;
    background-color: #FFFF;
    padding: 20px;
    gap: 1.5rem;
    width: max-content;
    border-radius: var(--borderRadius);
}

.line{
    width: 1px;
    background-color: var(--borderInputColor);
}

.tblReport{
    background-color: white;
    padding: 16px;
    border-radius: 18px;
    width: 50%;
}

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #FFFF;
}

::-webkit-scrollbar-thumb {
    background: #88888897;
}

::-webkit-scrollbar-thumb:hover {
    background: #5555550a;
}

@media only screen and (max-width: 850px) {
    section{
        margin-left: 0px;
    }  
}