.main-content{
    margin-top: 60px;
}

.content1{
    width: 100%;
    display: flex;
    height: 900px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background: #043873;
    background: linear-gradient(211deg,rgba(4, 56, 115, 1) 55%, rgba(0, 0, 0, 1) 100%);
    
}
/* background: linear-gradient(219deg, rgba(4, 56, 115, 1) 61%, rgba(79, 156, 249, 1) 100%); */

.content2{
    width: 100%;
    display: flex;
    height: 800px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.iconSVG{
    width: 600px;
    height: 600px;
}

.manPNG{
    width: 480px;
    height: 580px;
}

.title{
    font-size: 42px;
}

.title, .description{
    color: #FFFF;
    text-wrap: wrap;
}

.col1{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 35%;
}

.btn-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.subBtn{
    background-color: transparent;
    border: 1px solid #FFFF;
}

.dark{
    color: black;

    & > p, & > .title {
        color: #000000;
    }
}

.man-background{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 550px;
    height: 650px;
    background-color: var(--buttonColor);
    border-radius: 50% 50% 50% 50% / 70% 70% 30% 30% ;
}

@media only screen and (max-width: 1124px) {
   
    .iconSVG{
        width: 400px;
    }

    .manPNG{
        width: 300px;
        height: 400px;
    }
}