
body{
    background-color: #f0f1f3;
}

nav{
    background-color: #FFFF;
    top: 0;
    position: fixed;
    height: 100%;
    width: 230px;
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 3px #00000012;
}

.nav-header{
    margin: 1rem;
}

.navBtn{
    display: flex;
    flex-direction: row;
    margin: .5em;
    gap: 1rem;
    height: 2rem;
    padding: 10px 20px 0px 10px;
    border-radius: .5rem;
    cursor: pointer;
    transition: .2;
    position: relative;
}

.navBtn:hover{
    background-color: rgba(0, 0, 0, 0.137);
}

a{
    text-decoration: none;
    width: 100%;
    color: var(--secondaryTextColor);
}

.active, .navBtn.active:hover{
    color: #ffffffda;
    background-color: var(--buttonColor);
    border-radius: var(--borderRadius);
}

.nav-footer{
    border-radius: var(--borderRadius);
    background-color: #f5212174;
    position: absolute;
    bottom: 25px;
    display: flex;
    width: 80%;     
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: #FFFF;
}

.close{
    position: absolute;
    display: none;
    top: 10px;
    right: 10px;
}

@media only screen and (max-width: 850px) {
    nav{
        left: -250px;
        transition: left 0.15s cubic-bezier(.4, 0, .2, 1);
    }

    nav.sideBarActive {
        left: 0;
    }

    .close{
        display: block;
    }
    
}
